/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
  background-color: #f5f7fa;
  padding: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Montserrat;
}
.hr-two-color {
  margin: 20px 0;
  padding: 0;
  height: 10px;
  border: none;
  border-top: 1px solid #0836043;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
.wrapper {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #083604;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-photo {
  width: 370px;
  border-radius: 0px;
}

.about-me-conteiner {
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 110px;
  padding-top: 110px;
}

.Contacts-container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.Contacts-title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
}

.contacts-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #8e949c;
}
.contacts-link-type {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-right: 10px;
}
.tech-skills-titel {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}
.tech-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.tech-skill-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}
.tech-skill-text {
  color: #f0f1f2;
}
.soft-skills-titel {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}
.soft-skills-container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}
.soft-skill-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}
.soft-skill-text {
  color: #f0f1f2;
}
.profession {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: black;
  margin-bottom: 23px;
}
.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}
/* .discription {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
} */

.info-conteiner {
  margin-bottom: 65px;
}
.about-me-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}
.projects-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}
.tech-name {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.dots {
  color: #a8a8a859;
  font-weight: 100;
}
.projects-item {
  font-weight: 700;
  margin-left: 17px;
}
.projects-contenier {
  margin-bottom: 55px;
}
.profession-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.profession-company {
  color: #ff761b;
}
.profession-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}
.profession-divider {
  color: black;
}
.profession-duties {
  margin-top: 14px;
  margin-bottom: 30px;
}
.profession-duties-item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.education-place {
  color: #ff6b08;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.Managment-title {
  margin-top: 15px;
  margin-bottom: 15px;
}
